.container {
    align-items: center;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    margin: 100px;
    background-color:silver;
  }
  span {
    display: block;
    align-items: center;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
    height: 300px;
    width: auto;
    color: blue;
    font-family: cursive;
    font-size: xx-large;
  }